body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 2s ease;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 5%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: #333;
    color: #fff;
    text-align: right;
    transition: width 0.3s ease-in-out; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input#filas:focus, input#columnas:focus {
    width: 20%; 
}


button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}